---
---

<!DOCTYPE html>
<html lang="en">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="W3.css">

{% include header.html %}

<!-- header -->
<div class="w3-wide w3-grey w3-text-white" id="vision">
  <div class="w3-container w3-content w3-center w3-padding-2" style="max-width:4000px;margin-bottom:20px"> 
    <h2>Shared Cultural Beliefs</h2>
  </div>
</div> 


<body>
  
  <!-- belief list -->
  <div class="w3-light-grey w3-center">
    <div class="w3-container w3-content w3-padding-2" style="max-width:4000px;margin-bottom:20px">
      <p> Derived from: Reinventing Organization, A Guide to Creating Organizations Inspired by the Next Stage of Human Consciousness, by Frederic Laloux – <a href="http://www.reinventingorganizations.com">http://www.reinventingorganizations.com</a></p>
    </div>
  </div>
  
  <!-- trust -->
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2" style="max-width:4000px;margin-bottom:10px;margin-left:20px">
      <h3>Trust</h3>
    </div>
  </div>
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2 w3-justify" style="max-width:1200px;margin-bottom:10px">
      <ul>
        <li> We relate to one another with an assumption of positive intent.</li>
        <li> Until we are proven wrong, trusting co-workers is our default means of engagement.</li>
        <li> Freedom and accountability are two sides of the same coin.</li>
      </ul>
    </div>
  </div>

  <!-- information -->
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2" style="max-width:4000px;margin-bottom:10px;margin-left:20px">
      <h3>Information and decision-making</h3>
    </div>
  </div>
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2 w3-justify" style="max-width:1200px;margin-bottom:10px">
      <ul>
        <li>All business information is open to all.</li>
        <li>Every one of us is able to handle difficult and sensitive news.</li>
        <li>We believe in collective intelligence. Nobody is as smart as everybody. Therefore all decisions will be made with the advice process.</li>
      </ul>
    </div>
  </div> 

  <!--- responsibility -->
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2" style="max-width:4000px;margin-bottom:10px;margin-left:20px">
      <h3>Responsibility and accountability</h3>
    </div>
  </div>
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2 w3-justify" style="max-width:1200px;margin-bottom:10px">
      <ul>
        <li>We each have full responsibility for the organization. If we sense that something needs to happen, we have a duty to address it. It’s not acceptable to limit our concern to the remit of our roles.</li>
        <li>Everyone must be comfortable with holding others accountable to their commitments through feedback and respectful confrontation.</li>
      </ul>
    </div>
  </div> 

  <!-- equal -->
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2" style="max-width:4000px;margin-bottom:10px;margin-left:20px">
      <h3>Equal worth</h3>
    </div>
  </div>
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2 w3-justify" style="max-width:1200px;margin-bottom:10px">
      <ul>
        <li>We are all of fundamental equal worth.</li>
        <li>At the same time, our community will be richest if we let all members contribute in their distinctive way, appreciating the differences in roles, education, backgrounds, interests, skills, characters, points of view, and so on.</li>
      </ul>
    </div>
  </div> 

  <!-- safe -->
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2" style="max-width:4000px;margin-bottom:10px;margin-left:20px">
      <h3>Safe and caring workplace</h3>
    </div>
  </div>
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2 w3-justify" style="max-width:1200px;margin-bottom:10px">
      <ul>
        <li>Any situation can be approached from fear and separation, or from love and connection. We choose love and connection.</li>
        <li>We strive to create emotionally and spiritually safe environments, where each of us can behave authentically.</li>
        <li>We honor the moods of love, care, recognition, gratitude, curiosity, fun, playfulness …</li>
        <li>We are comfortable with vocabulary like care, love, service, purpose, soul … in the workplace.</li>
      </ul>
    </div>
  </div> 

  <!-- overcoming -->
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2" style="max-width:4000px;margin-bottom:10px;margin-left:20px">
      <h3>Overcoming separation</h3>
    </div>
  </div>
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2 w3-justify" style="max-width:1200px;margin-bottom:10px">
      <ul>
        <li>We aim to have a workplace where we can honor all parts of us: the cognitive, physical, emotional, and spiritual; the rational and the intuitive; the feminine and the masculine.</li>
        <li>We recognize that we are all deeply interconnected, part of a bigger whole that includes nature and all forms of life.</li>
      </ul>
    </div>
  </div> 

  <!-- learning -->
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2" style="max-width:4000px;margin-bottom:10px;margin-left:20px">
      <h3>Learning</h3>
    </div>
  </div>
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2 w3-justify" style="max-width:1200px;margin-bottom:10px">
      <ul>
        <li>Every problem is an invitation to learn and grow. We will always be learners. We have never arrived.</li>
        <li>Failure is always a possibility if we strive boldly for our purpose. We discuss our failures openly and learn from them.</li>
        <li>Hiding or neglecting to learn from failure is unacceptable.</li>
        <li>Feedback and respectful confrontation are gifts we share to help one another grow.</li>
        <li>We focus on strengths more than weaknesses, on opportunities more than problems.</li>
      </ul>
    </div>
  </div> 

  <!-- relationships -->
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2" style="max-width:4000px;margin-bottom:10px;margin-left:20px">
      <h3>Relationships and conflict</h3>
    </div>
  </div>
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2 w3-justify" style="max-width:1200px;margin-bottom:10px">
      <ul>
        <li>It’s impossible to change other people. We can only change ourselves.</li>
        <li>We take ownership for our thoughts, beliefs, words, and actions.</li>
        <li>We don’t spread rumors. We don’t talk behind someone’s back.</li>
        <li>We resolve disagreements one-on-one and don’t drag other people into the problem.</li>
        <li>We don’t blame problems on others. When we feel like blaming, we take it as an invitation to reflection how we might be part of the problem (and the solution).</li>
      </ul>
    </div>
  </div> 

  <!-- purpose -->
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2" style="max-width:4000px;margin-bottom:10px;margin-left:20px">
      <h3>Collective purpose</h3>
    </div>
  </div>
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2 w3-justify" style="max-width:1200px;margin-bottom:10px">
      <ul>
        <li>We view the organization as having a soul and purpose of its own.</li>
        <li>We try to listen in to where the organization wants to go and beware of forcing a direction onto it.</li>
      </ul>
    </div>
  </div> 

  <!-- indivdual -->
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2" style="max-width:4000px;margin-bottom:10px;margin-left:20px">
      <h3>Individual purpose</h3>
    </div>
  </div>
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2 w3-justify" style="max-width:1200px;margin-bottom:10px">
      <ul>
        <li>We have a duty to ourselves and to the organization to inquire into our personal sense of calling to see if and how it resonates with the organization’s purpose.</li>
        <li>We try to imbue our roles with our souls, not our egos.</li>
      </ul>
    </div>
  </div> 

  <!-- future -->
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2" style="max-width:4000px;margin-bottom:10px;margin-left:20px">
      <h3>Planning the future</h3>
    </div>
  </div>
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2 w3-justify" style="max-width:1200px;margin-bottom:10px">
      <ul>
        <li>Trying to predict the future is unnecessary. We make forecasts only when a specific decision requires us to do so.</li>
        <li>Everything will unfold with more grace if we stop trying to control and instead choose to simply sense and respond.</li>
      </ul>
    </div>
  </div> 

  <!-- value -->
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2" style="max-width:4000px;margin-bottom:10px;margin-left:20px">
      <h3>Value Creation</h3>
    </div>
  </div>
  <div class="w3-light-grey">
    <div class="w3-container w3-content w3-padding-2 w3-justify" style="max-width:1200px;margin-bottom:10px">
      <ul>
        <li>In the long run, there are no trade-offs between purpose and value creation. If we focus on purpose, value creation will follow.</li>
      </ul>
    </div>
  </div> 

</body>

{% include footer.html %}

</html>
