---

---

<!DOCTYPE html    <html lang="en">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="W3.css">

<!-- inserts navbar & title -->
{% include header.html %}

<body>
 
 <!-- vision statment -->
  <!-- header -->
  <div class="w3-wide w3-grey w3-text-white" id="vision">
    <div class="w3-container w3-content w3-center w3-padding-2" style="max-width:4000px;margin-bottom:20px"> 
      <h2>Vision Statment</h2>
    </div>
  </div>

  <!-- text -->
  <div class="w3-light-grey" id="visiontext">
    <div class="w3-container w3-content w3-padding-2" style="max-width:4000px;margin-bottom:10px">
      <p>We, residents and workers of Marin County, unite in common cause: to create new systems to improve our lives, our community, and our world. As we create the new, we begin the abandonment of institutions, systems, and relationships that are toxic, destructive, extractive, exploitative, violent, and spiritually bankrupt. We are initiating action now to express our will to transform everything so that a future for all becomes reality.</p>
    </div>
  </div>

 <!-- goals --> 
  <div class="w3-light-grey w3-opacity w3-center" id="goals">
    <div class="w3-container w3-content w3-padding-2" style="max-width:4000px;margin-bottom:20px">
      <h5> Our goals include:</h5>
    </div>
  </div>

   <!-- text -->
   <div class="w3-light-grey" id="goalstext">
      <div class="w3-container w3-content w3-padding-2 w3-justify" style="max-width:1200px;margin-bottom:10px">

       <p> (1) Establishing a cooperative economy by forming profit-for-society enterprises, collectives, coops, mutual assistance, and gifting networks. Bringing democracy to the workplace and goodwill to the market. </p>

        <p> (2) Restoring the Earth’s biosphere by aligning our activities with the laws, limits, and logic of nature. Apply the design principles of permaculture to human settlements and activities. </p>

        <p> (3) Creating a just and peaceful world by honoring and respecting diversity and changing our relationships with each other and all sentient beings to one that is based on compassion, love and justice. Root out racism, sexism, speciesism, homophobia, and imperialism. </p>

        <p> (4) Developing true democracy by supporting only candidates who share our vision and are not financed by corporations or wealthy elites. Introduce one person one vote, universal registration, election day a holiday, free media access, inclusive debates, paper ballots hand counted, public financing of elections. </p>

        <p> (5) Reclaiming the commons by expanding community ownership of housing, farms, manufacturing, schools, health centers, community centers, mass transit, art and recreation areas. </p>

        <p> (6) Promoting the free exchange of ideas by supporting independent, non-corporate media and local community media centers. Questioning and truth telling are essential revolutionary acts. </p>

        <p> (7) Popularizing the principles of eco-socialism by promoting a deep dialogue and supporting the advancement of a steady state economy. We can do better than capitalism. We welcome a new way of living with each other and with nature. </p>
      </div>

     <div class="w3-container w3-content w3-padding-4" style="max-width:4000px;margin-bottom:10px">
       <p> The Community Union will be able to advance these goals as our membership and organization grows. We will elect a leadership council that will reflect our vision and be diverse in composition. </p>

       <p> Our decisions will be made by modified consensus process so that everyone is heard and our decisions are strong. </p>

       <p> It’s time to represent our needs and interests and passions. We will not compromise our values. We will support each other in the great transition. </p>

       <p> The free and full development of each person is inseparable from the free and full development of all.
        All power to the imagination and collective brilliance of the people. </p>
      </div>
    </div>
  </div>

<!-- inserts contact -->
{% include footer.html %}

</body> 
</html>
