---
---

<!DOCTYPE html>
<html lang="en">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="W3.css">

<!-- inserts nav bar & title -->
{% include header.html %}

<body>
  
  <!-- header -->
  <div class="w3-wide w3-grey w3-text-white" id="vision">
    <div class="w3-container w3-content w3-center w3-padding-2" style="max-width:4000px;margin-bottom:20px"> 
      <h2>Marin Food Hub</h2>
    </div>
  </div> 
  
  <!-- text -->
  <div class="w3-light-grey" id="goalstext">
    <div class="w3-container w3-content w3-padding-2 w3-justify" style="max-width:1200px;margin-bottom:10px">
   
    <p>The Marin Food Hub is a cooperatively managed, profit-for-society, community enterprise.  Our aim is to provide an alternative and more cost effective source for health and ecologically conscious foods.  Right now we are a combination of a buyer’s club and local market place with a once-per-four-week market.  As we grow, we hope to be able to establish a brick-and-mortar co-op grocery store.</p>
    
    <p>We have a $12 annual membership fee and a 10% margin added to our wholesale prices for regular members to help cover our basic operating costs like website hosting, business license and California corporation tax.  Because one of our missions is to support local food producers, the 10% co-op margin is waived for those members.  At the point in time that there are profits those will be allocated between expansion of this co-op and support of other food and labor justice non-profits or profit-for-society organizations.</p>

    <p> To sign up and place orders, visit: <a href=http://foodclub.org/marinfoodhub>http://foodclub.org/marinfoodhub</a></p>



</body>
 
 <!-- inserts contact -->
{% include footer.html %}

</html>
